<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Screeps Decorations</title>
    <style>
        html {
            color: #fff;
            background-color: #111;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            color: #fff;
            outline: none;
            text-decoration: none;
        }

        a:hover {
            text-decoration: solid;
        }

        .collapsible {
            position: relative;
        }

        .collapsible input {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            max-height: 38px;
            opacity: 0;
        }

        .collapsible>.collapsible-header::before {
            content: ">";
            display: inline-block;
            padding: 10px;
            transition: transform 0.5s ease-out;
        }

        .collapsible>input:checked~.collapsible-header::before {
            transform: rotate(90deg);
        }

        .collapsible>div {
            display: none;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .collapsible>input:checked~div {
            display: flex;
        }
        
        .deco-container {
            display: inline-flex;
            margin: 3px;
            padding: 0;
            position: relative;
        }

        .deco-container div {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #aaa;
        }

        .deco-container div a {
            margin: 3px auto;
            text-align: center;
            display: block;
        }

        .deco-container:hover div {
            display: block;
        }

        .hastooltip {
            position: relative;
        }

        .hastooltip > .tooltip {
            position: absolute;
            bottom: 110%;
            left: 0;
            width: 100%;
            background-color: #555;
            border-radius: 5px;
            display: none;
        }

        .hastooltip:hover > .tooltip:not(:hover) {
            display: inline;
        }
    </style>
</head>

<body>
    <div class="collapsible">
        <input type="checkbox">
        <h1 class="collapsible-header">Floor landscape decorations</h1>
        <div>
            {{#floorLandscape}}
            <div class="deco-container">
                <img width="128" height="128" src="{{url}}">
                <div>
                    {{#rooms}}
                    <a href="https://screeps.com/a/#!/room/{{shard}}/{{name}}" class="hastooltip"><span class="tooltip">{{owner}}</span>{{shard}}/{{name}}</a>
                    {{/rooms}}
                </div>
            </div>
            {{/floorLandscape}}
        </div>
    </div>
    <div class="collapsible">
        <input type="checkbox">
        <h1 class="collapsible-header">Wall landscape decorations</h1>
        <div>
            {{#wallLandscape}}
            <div class="deco-container">
                <img width="128" height="128" src="{{url}}">
                <div>
                    {{#rooms}}
                    <a href="https://screeps.com/a/#!/room/{{shard}}/{{name}}" class="hastooltip"><span class="tooltip">{{owner}}</span>{{shard}}/{{name}}</a>
                    {{/rooms}}
                </div>
            </div>
            {{/wallLandscape}}
        </div>
    </div>
    <div class="collapsible">
        <input type="checkbox">
        <h1 class="collapsible-header">Wall graffitis</h1>
        <div>
            {{#wallGraffiti}}
            <div class="deco-container">
                <img width="128" height="128" src="{{url}}">
                <div>
                    {{#rooms}}
                    <a href="https://screeps.com/a/#!/room/{{shard}}/{{name}}" class="hastooltip"><span class="tooltip">{{owner}}</span>{{shard}}/{{name}}</a>
                    {{/rooms}}
                </div>
            </div>
            {{/wallGraffiti}}
        </div>
    </div>
</body>

</html>